@import '../../variables.scss';

.header{
    a{
        text-decoration: none;
        color: inherit;
        
    }
    a:hover{
        color: inherit;
    }
    .nav-brand{
        font-weight: 900;
        font-size: 35px;
       margin-bottom: 0;
       color: black;
       
        span{
            color:$color-main  ;
        }
    }

    .right{
        button{
           margin-left: 10px;
        }
        
        
        
    }


    @media (max-width:767px) {
        .right{
            flex-wrap: wrap;
            .nav-item{
                width: 100% !important;
               
    
            }
            .btn-outline-grey{
                margin-top: 20px;
                max-width:100px
            }
        }
    }


    .category{
        background-color: $color-main !important;
        color: white;
        .nav-item{
            margin:5px;
            &:hover{
                text-decoration: underline;
                
                

            }
        }
    }
    
}