@import '../../variables.scss';

.footer{
    





//main style for footer

    .links{

        color: $color-black;
       
        p{
            margin-bottom: 0;
            font-size: small;
            span{
                color:$color-main;
                margin-right: 5px;
            }
        }

        h5{
            font-weight: 600;
        }

    }






    

    // footer icons style


    .footer-icons{
        p{
            display: inline-block;
            margin-left: 10px;
        }
        .icon{
            text-align: center;
            color: white;
            width: 20px;
            height: 20px;
            background-color: $color-main;
            border-radius: 50%;
            cursor: pointer;
        }
    }







//terms style


    .terms{
        color:$color-dark-grey;
        p{
            margin:10px 5px;
        }
    }






        
    
}