
//colors


$color-main:#7ABA3A;
$color-grey:#C8C8C8;
$color-dark-grey:#757575;
$color-white:#FFFFFF;
$color-black:#000000;
$color-red:#E43A20;
$color-blue:#1E56AA;
$color-yellow:#EFDE20;
$color-green:#8BC34A;



